body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #146c8a, #add8e6) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Noto Sans SC', sans-serif;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 256px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: white;
}

.container h1 {
    color: #333;
    font-size: 1.5em;
    text-align: left;
}

.container>p {
    padding-top: 3px;
    color: #555;
    font-size: 1em;
}

.msg {
    font-size: 18px;
}

.back-button {
    display: block;
    /* 改为块级元素 */
    width: max-content;
    /* 保持原有内容宽度 */
    margin: 30px 0 0 auto;
    /* 上边距30px + 右对齐 */
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}