/** 导航栏 **/
nav {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    /* 导航栏位于页面其他内容上，请确认页面内容高度与导航栏同步！padding-top=60px */
}

nav img {
    width: 120px;
    height: 50px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 50px;
    margin-left: 120px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

nav ul li a:hover {
    color: skyblue;
}

nav div {
    display: flex;
    align-items: center;
}

nav div a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

/* 响应式设计 - 导航栏菜单切换 */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 60px;
        /* 保持这个值,确保菜单在导航栏下方 */
        left: 20px;
        /* 与导航栏的左内边距对齐 */
        width: auto;
        /* 改为自动宽度 */
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        /* 可选:添加圆角 */
        z-index: 2;
    }

    .nav-menu li {
        margin: 5px 0;
        text-align: left;
        /* 左对齐文本 */
        white-space: nowrap;
        /* 防止文本换行 */
    }

    .nav-menu.active {
        display: flex;
    }
}
